<ion-card>
  <ion-card-content>
    <ion-item>
      <ion-label position="floating">Sign in</ion-label>
      <ion-input #box></ion-input>
      {{box.value}}
    </ion-item>
    <ion-item>
      <ion-label position="floating">password</ion-label>
      <ion-input #box1></ion-input>
    </ion-item>
    <ion-button (click)="onClickMe(box.value, box1.value)">Default</ion-button>
  </ion-card-content>
</ion-card>